<% if @microposts.any? %>

  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%=  @microposts%>
<% else %>
<ol class="microposts">
  <p style="color:silver"><%= t :no_mylikes_microposts %></p>
</ol>
<% end %>
