<%= turbo_frame_tag "like-button-#{micropost.id}" do %>
  <span class="like">
    <% icon = "like-#{liked ? 'filled' : 'outlined'}.svg" %>
    <%= link_to image_tag(icon, alt: 'Like button', width: '20px'),
                like_micropost_path(micropost.id),
                data: { 'turbo_method': :post } %>
    <%= link_to micropost.likes.sum(&:count),
                like_users_micropost_path(micropost.id),
                data: { "turbo-method": :get },
                target: "_self" %>
  </span>
<% end %>