<% provide(:title, t(:liked_users)) %>
<h1><%= t :liked %></h1>
<div class="row">
  <aside class="col-md-4">
     <ol class="microposts">
      <%= render @micropost %>  
     </ol>
  </aside>
  <div class="col-md-8">
  <% if @users.any? %>
    <ul class="users">
      <%= render @users %> 
    </ul>
  <% else %>
    <h4><%= t :none_like_users %></h4>
  <% end%>
  </div>
</div>
